body {
  font-family: map_get($font, "primary"), map_get($font, "secondary"),
    "sans-serif";
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  height: 100vh;
}

html {
  font-size: map_get($fontSize, "default");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
