$white: #fff;
$blue: #00a4bd;
$orange: #f56b27;

$font: (
  primary: Roboto,
  secondary: Montserrat,
);

$fontWeight: (
  bold: 700,
  light: 100,
  medium: 500,
  regular: 400,
  semi-bold: 600,
  x-bold: 900,
);

$fontSize: (
  normal: 14px,
);
